.app{
  display: flex;
  justify-content: center;
  align-content: center;
}

.productListBorder{
  border: 1px solid grey;
  border-top: 20px outset hsl(212, 53%, 44%);
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  align-items: center; 
  margin-top: 100px;
  width: 700px;
}

.box{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center; 
  padding: 20px;
  border: 1px solid grey;
}

  .btnDelete{
  border: none;
  background: none;
  &:hover{
    color: rgb(170, 167, 167);
    transition: all 300ms ease-in-out;
  }
}